<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考生成绩</title>
    <link href="/static/css/score.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Table goes in the document BODY -->
<table class="hovertable">
<tr>
	<th>&nbsp;&nbsp;考生考号&nbsp;&nbsp;</th><th>&nbsp;考生姓名&nbsp;</th><th>&nbsp;单选成绩&nbsp;</th><th>&nbsp;多选成绩&nbsp;</th><th>&nbsp;判断成绩&nbsp;</th><th>&nbsp;总成绩&nbsp;</th>
</tr>
{% for i in s %}
    <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        <td>&nbsp;&nbsp;<a href="/score/{{ i }}">{{ i }}</a>&nbsp;</td>
        <td>&nbsp;{{ s[i]['user'] }}&nbsp;</td>
        <td> {{ s[i]['single'] }} </td>
        <td>&nbsp;{{ s[i]['multi'] }}&nbsp;</td>
        <td>&nbsp;{{ s[i]['judge'] }}&nbsp;</td>
        <td>&nbsp;{{ s[i]['total'] }}&nbsp;</td>
    </tr>
{% end %}

</table>
<h6><div><a href="/static/data/mask1.xls">注:可点击考生考号查看考生成绩详细信息, 点击此处可下载成绩单</a></div></h6>

</body>
</html>
